@using FInalProject.ViewModels;
@model BookFocusViewModel;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Book Focus";
}
<center>
    <h2>Book</h2>
    <hr />
    <div class="card">
        <h3>Title: @Model.BookName</h3>
        <h3>Description: @Model.Description</h3>
        <h3>Author: @Model.BookAuthorName</h3>
        <h3>@Model.BookCover</h3>
        <h3>Reading time: @Model.BookReadingTime</h3>
        <h3>Pages: @Model.BookPages</h3>
        <h3>Left in stock: @Model.AmountInStock</h3>
        <h3>Category: @Model.Category</h3>
        @foreach(var genre in Model.genres)
        {
            <h4>@genre.Name</h4>
        }
        @if (User.IsInRole("Admin"))
        {
            <a href="javascript:void(0)" onclick="DeleteBook(@Model.BookId)" class="btn-primary">Delete</a>
           
        }
       @if (User.IsInRole("Admin"))
        {
            <a href="@Url.Action("EditBook", "Books", new {editId = Model.BookId})" class="btn btn-primary">Edit</a>
        }
        <h3>Comment Section</h3>
        <hr />
        @{
            await Html.RenderPartialAsync("_CreateComment", new FInalProject.ViewModels.CreateCommentViewModel
            {
                BookId = Model.BookId
            });
        }
        <hr />

        @if(Model.comments == null)
        {
            <h2>No comments yet</h2>
        }
        else
        {
            @foreach(var comment in Model.comments)
            {
                <label for="UserName">User name:</label>
                <h4 class="UserName">@comment.UserName</h4>
                <h4 class="Description">@comment.Description</h4>
            }
        }
    </div>
</center>
@section Scripts {
    <script src="~/js/site.js"></script>
}