﻿@using FInalProject.ViewModels
@model BookCreationViewModel
@{
    ViewData["Title"] = "Edit book";
}
<header>
    <h1>Book creation</h1>
</header>
<form asp-controller="BookOperations" asp-action="Edit" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger">
    </div>
    <label for="BookName">Name</label>
    <input asp-for="Name" type="text" id="BookName" placeholder="@Model.Name"/>
    <span asp-validation-for="Name" class="text-danger"></span>
    <br />
    <hr />
    <label for="BookAuthor">Author</label>
    <input asp-for="AuthorName" type="text" id="AuthorName" placeholder="@Model.Name" />
    <span asp-validation-for="AuthorName" class="text-danger"></span>
    <br />
    <hr />
    <label for="SelectedGenreIds">Genres:</label>
    <select asp-for="SelectedGenreIds" class="form-select" multiple="multiple">
        @foreach (var genre in Model.GenreOptions)
        {
            <option value="@genre.Id">@genre.Name</option>
        }
    </select>
    <hr />

    <label for="BookDescription">Description</label>
    <input asp-for="Description" type="text" id="BookDescription" placeholder="@Model.Description" />
    <span asp-validation-for="Description" class="text-danger"></span>
    <br />
    <hr />

    <label for="BookReadingTime">Reading time</label>
    <input asp-for="ReadingTime" type="text" id="BookReadingTime" placeholder="@Model.ReadingTime" />
    <span asp-validation-for="ReadingTime" class="text-danger"></span>
    <br />
    <hr />

    <label for="AmountInStock">Amount avaible: </label>
    <input asp-for="AmountInStock" type="text" id="AmountInStock" placeholder="@Model.AmountInStock" />
    <span asp-validation-for="AmountInStock" class="text-danger"></span>
    <br />
    <hr />

    <label for="BookCoverImage">Cover</label>
    <input asp-for="CoverImage" type="text" id="BookCoverIamge" placeholder="@Model.CoverImage" />
    <span asp-validation-for="CoverImage" class="text-danger"></span>
    <br />
    <hr />

    <label for="BookPages">Pages</label>
    <input asp-for="Pages" type="text" id="BookPages" placeholder="@Model.Pages" />
    <span asp-validation-for="Pages" class="text-danger"></span>
    <br />
    <hr />

    <br />

    <input type="submit" value="Submit" />
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}