@using FInalProject.Data.Models;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (!User.Identity.IsAuthenticated)
    {
        <p>login or register to use the library</p>
    }
</div>
<div>
    <a href="@Url.Action("AllBooks", "Books", new {modifier = 4})" class="btn btn-primary">Books</a>
    <a href="@Url.Action("AllBooks", "Books", new {modifier = 2})" class="btn btn-primary">Comics</a>
    <a href="@Url.Action("AllBooks", "Books", new {modifier = 0})" class="btn btn-primary">Magazines</a>
    <a href="@Url.Action("AllBooks", "Books", new {modifier = 1})" class="btn btn-primary">Newspapers</a>
    <a href="@Url.Action("AllBooks", "Books", new {modifier = 3})" class="btn btn-primary">Educational</a>
</div>
